/*html {
    font-size: 19px;
    height: 100%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  overflow-x: hidden;
  width: 100%;
  height: 70%;
  position: relative;
}*/


a{
	color: rgba(0, 40, 200, 1.0);
}

.draw{
	background-color: rgba(250, 250, 250, 1);
}



/*===== 02pointerinteraction.php =========================================================================*/
#x {
    width:50px;
    height:50px;
    background: url(../img/user/HelicopterMedical.png) no-repeat;
    background-size:50px 50px;
    margin:-25px 0 0 -25px;
    position:absolute;
    transition: top 0.5s, left 0.5s;
    -webkit-transition: top 0.3s, left 0.3s;
}

/*===== 03pointerinteraction.php =========================================================================*/
.x3 {
    width:50px;
    height:50px;
    
    margin:-25px 0 0 -25px;
    position:absolute;
    transition: top 0.1s, left 0.1s;
    -webkit-transition: top 0.1s, left 0.1s;
}

#x31 {
	top: 100px;
    background: url(../img/user/HelicopterMedical.png) no-repeat;
	background-size:50px 50px;
    z-index: 3;
}
#x32 {
	top: 150px;
    background: url(../img/user/FireEscape.png) no-repeat;
	background-size:50px 50px;
    z-index: 2;
}
#x33 {
	top: 200px;
    background: url(../img/user/Police.png) no-repeat;
	background-size:50px 50px;
    z-index: 1;
}
/*
li{
    list-style-type: none;
}
*/
.viewport{
    overflow: hidden;
    position: relative;
}
/*===== 04pointerinteraction.php =========================================================================*/
#rect{
    width: 150px;
    height: 100px;
    background-color: lightgrey;
    margin: 20px;
    transform: rotate(0deg);
    padding: 10px;
}

/*===== 05pointerinteraction.php =========================================================================*/
.viewport5{
    perspective: 600px;
/*  perspective-origin: 50% 50%;  */
    perspective-origin: bottom center;
    border: 1px solid lightgrey;
    text-align: center;
}

#rect5{
    width: 200px;
/*  background-color: lightgrey;  */
    margin: 50px;
    transform: rotate(0deg);
    padding: 0px;
    transform: rotateX(0deg);
    transform: rotateY(0deg);
/*  background: url(img/user/14_f4discovery.jpg);*/
}

#rect51{
    width: 150px;
/*  background-color: lightgrey;  */
    margin: 50px;
    transform: rotate(0deg);
    padding: 0px;
    transform: rotateX(0deg);
    transform: rotateY(0deg);
/*  background: url(img/user/14_f4discovery.jpg);*/
}

/*===== 05pointerinteraction.php =========================================================================*/

/*===== 05pointerinteraction.php =========================================================================*/

/*===== 05pointerinteraction.php =========================================================================*/

/*===== 05pointerinteraction.php =========================================================================*/